@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes move-left {
    0% {
      transform: translateX(100%); /* Start off-screen on the right */
    }
    100% {
      transform: translateX(0); /* End at the original position */
    }
  }

  @keyframes move-off-screen {
    0% {
      transform: translateX(0); /* Start at the original position */
      opacity: 1; /* Fully visible */
    }
    100% {
      transform: translateX(-100%); /* Move completely off-screen to the left */
      opacity: 0; /* Fade out while moving */
    }
  }

  .custom-animation-fade-out {
    animation: move-off-screen 2s ease-in forwards; /* 2 seconds duration with ease-in */
    /* Make sure the element can move within its container */
  }

  .custom-animation-fade-in {
    animation: move-left 0.2s ease-in; /* 2 seconds duration with ease-in */
    /* Make sure the element can move within its container */
  }

  .shadow-main {
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .shadow-filter {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }
}
